/*Rounded Edges*/
.header, .button, .maincolumn, .sidebar, .image, .navigation input, #centerimg, .modal-img, .tourist {
    border-radius: 10px;
}

/*Header*/
.header {
    background-color: #D5728C;
    background-size: cover;
    height: 100px;
    margin: 20px 20px 10px 20px;
}

/*Navigation Bar*/
.navigation {
    margin: 10px 20px 10px 20px;
}

.button {
    background-color: #C9496C;
    width: 159px;
    justify-content: space-evenly;
}

.navigation a {
    padding: 10px;
    color: #FAEFF2;
    text-align: center;
    text-decoration: none;
    font-family: 'Handlee', cursive;
    font-size: 20px;
    display: inline-block;
}

.navigation a:hover {
    background-color: #D5728C;
}

#active {
    background-color: #D5728C;
}

.sidebar
{
    float: right;
    margin: 10px 20px 20px 0px;
    width: 25%;
    padding: 25px;
    border-style: dashed;
    border-width: 2px;
    border-color: #380B0E;
    background-color: #FAEFF2;
}

.maincolumn
{
    position: relative;
    float: left;
    margin: 10px 0px 10px 20px;
    width: 60%;
    padding: 25px;
    border-style: dashed;
    border-width: 2px;
    border-color: #380B0E;
    background-color: #FAEFF2;
}
#column1 {
    float: left;
    width: 25%;
}
#column2 {
    float: right;
    width: 75%;
}

.avatar {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image, .avatar, #centerimg {
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: 0.3s;
}
.image:hover {
    opacity: 0.75;
}

.info {
    text-align: center;
    width: 200px;
    border-radius: 5px;
    font-family: 'Handlee', cursive;
    font-size: 18px;
    color: #380B0E;
}

#centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    padding: 25px 0px 25px 0px;
    text-decoration: bold;
    font-size: 45px;
    font-family: 'Cookie', cursive;
    color: #FAEFF2;
    margin: auto;
}

h3, h5 {
    text-align: center;
    font-family: 'Handlee', cursive;
}

h2, h4{
    font-family: 'Handlee', cursive;
}

body {
    background-color: #F1D0D9;
    color: #380B0E;
}

p {
    font-family: 'Merriweather', serif;
    font-size: 13px;
    text-indent: 20px;
    text-align: justify;
}

ul {
    list-style-type: square;
    font-family: 'Merriweather', serif;
    font-size: 13px;
}

table {
    text-align: left;
}

a {
    text-decoration: none;
    color: #C9496C;
}

/*Footer to store Credit and Year*/
.footer
{
    padding: 20px;
    text-align: center;
    width: 100%;
    bottom: 0;
    height: 30px;
}

/*Modal to enlarge the images with their alt as the captions*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #380B0E90;
}

.modal-img{
    margin: auto;
    display: block;
    width: 30%;
}

#info {
    text-align: center;
    width: 200px;
    font-family: 'Handlee', cursive;
    font-size: 18px;
}

#modal-info{
    margin: auto;
    display: block;
    width: 80%;
    text-align: center;
    color: #FAEFF2;
    padding: 20px;
    font-size: 30px;
    font-family: 'Handlee', cursive;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #FAEFF2;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
.close:hover, .close:focus {
    color: #FAEFF2;
    text-decoration: none;
    cursor: pointer;
  }

  .tourist {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #380B0E90;
    color: #FAEFF2;
    width: 90%;
    height: 40%;
    padding-left: 20px;
    padding-right: 20px;
  }